<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Clirq.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="Clirq.commands.category"
            name="Sample Command"
            id="Clirq.commands.runCell">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.clirq.cellrunner.handlers.CellRunnerHandler"
            commandId="Clirq.commands.runCell">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Clirq.commands.runCell"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="Clirq.menus.cellRunnerMenu"
               label="CellRunner"
               mnemonic="M">
            <command
                  commandId="Clirq.commands.runCell"
                  id="Clirq.menus.runCellCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Clirq.toolbars.javaNotebookToolbar">
            <command
                  id="clirq.toolbars.runCellCommand"
                  commandId="Clirq.commands.runCell"
                  icon="icons/sample.png"
                  tooltip="Run cell">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
